
    .chat-container {
      position: relative;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      border:10px solid #ce1212;
      
    }

    .chat-header {
      background-color: #ce1212;
    }

    #send-button {
      background-color: #ce1212;
      color: white;
    }
    body{
        background-color: #fbeeee;
    }
    .chat-window{
        background-color: #f4ecec;
    }
