{% extends "base.html" %}
{%block content%}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Elevate your strength, define your journey.</h2>
          <p data-aos="fade-up" data-aos-delay="100">Fuel your journey, sculpting strength, forging resilience. Every rep, a step towards greatness</p>
          
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="static/mm.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img" style="background-image: url(static/hero.jpeg) ;" data-aos="fade-up" data-aos-delay="150">
           
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                Transform your fitness journey with Muscle Matrix, where cutting-edge technology meets expert guidance to propel you towards your goals. Our innovative chatbots provide personalized exercise routines and curated music playlists, ensuring every workout is tailored to your needs and preferences.
              </p>
              <ul>
                <li><i class="bi bi-check2-all"></i> Personalized Fitness Plans: Tailored exercise routines and workouts to match your goals and fitness level.</li>
                <li><i class="bi bi-check2-all"></i> Curated playlists designed to boost energy and focus during workouts.</li>
                <li><i class="bi bi-check2-all"></i>Support and motivation through our interactive chatbots.</li>
              </ul>
              <p>
                At Muscle Matrix, we're not just about workouts and music; we're about empowering you on your fitness journey. Our chatbots don't just provide routines and playlists; they offer continuous support and expertise, ensuring you're never alone in your pursuit of greatness. With Muscle Matrix, you're not just a member; you're part of a community dedicated to achieving more, pushing boundaries, and unlocking your full potential. Join us today and redefine what's possible in your fitness journey.
              </p>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    


    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Your Words <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        "I thought I had two left feet until Muscle Matrix convinced me otherwise! Now I'm dancing through my workouts with their funky playlists! 🎵💃"
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Jiggly Buff</h3>
                      <h4>Ceo &amp; Founder</h4>
                      
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="static/FITNESS PUFF!.jpeg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>

                        <i class="bi bi-quote quote-icon-left"></i>
                        "Thanks to the BMI calculator, I finally have a scientifically accurate way to measure my muffin top. Turns out, I'm not overweight; I'm just undertall for my weight category! Who knew being vertically challenged could have its perks?"
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sponge Bob</h3>
                      <h4>Designer</h4>
                      
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="static/_.jpeg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          "I've never been one for math, but the results tracking feature on this website makes me feel like a fitness mathematician. I may not understand calculus, but I can tell you exactly how many burpees I've done in the past month. Who needs algebra when you've got abs?"
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Katy Cat</h3>
                        <h4>Store Owner</h4>
                        
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img src="static/Download Cute Pull up Cat Cartoon for free.jpeg" class="img-fluid testimonial-img" alt="">
                    </div>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          "Muscle Matrix isn't just a fitness app; it's my new best friend! We're on a journey to toned abs and killer playlists together. 💪🎶"
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Sharky</h3>
                        <h4>Entrepreneur</h4>
                       
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img src="static/Premium Vector _ Cute shark lifting dumbblle cartoon vector icon illustration animal sport icon concept isolated.jpeg" class="img-fluid testimonial-img" alt="">
                    </div>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  
     
  
  
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Contact</h2>
            <p>Need Help? <span>Contact Us</span></p>
          </div>
  
         
  
  
          <form action="forms/contact.php" method="post" role="form" class="php-email-form p-3 p-md-4">
            <div class="row">
              <div class="col-xl-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
              </div>
              <div class="col-xl-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form><!--End Contact Form -->
  
        </div>
      </section><!-- End Contact Section -->

{% endblock content %}