{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Chatbots Page</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fitbot</h5>
                        <p class="card-text">This card leads to the Fitbot page.</p>
                        <a href="{{ url_for('chatbot') }}" class="btn btn-primary">Go to Chatbot</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mellobot</h5>
                        <p class="card-text">This card leads to the Mellobot page.</p>
                        <a href="{{ url_for('melobot') }}" class="btn btn-primary">Go to Mellobot</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
