{% extends "base.html" %}
{%block content%}
 <!-- ======= Hero Section ======= -->
 <section id="hero" class="hero d-flex align-items-center section-bg">
    <div class="container">
      <div class="row justify-content-between gy-5">
        <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
          <h2 data-aos="fade-up">Elevate your strength, define your journey.</h2>
          <p data-aos="fade-up" data-aos-delay="100">Fuel your journey, sculpting strength, forging resilience. Every rep, a step towards greatness</p>
          
        </div>
        <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
          <img src="static/mm.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Learn More <span>About Us</span></p>
        </div>

        <div class="row gy-4">
          <div class="col-lg-7 position-relative about-img " style="background-image: url(static/hero.jpeg) ;" data-aos="fade-up" data-aos-delay="150">
           
          </div>
          <div class="col-lg-5 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0 ps-lg-5">
              <p class="fst-italic">
                <h2>About Muscle Matrix</h2>
                <p>
                  Transform your fitness journey with Muscle Matrix, where technology meets guidance to propel you towards your goals. Our platform offers advanced features to enhance your experience.
              </p>
              <p>
                  <strong><a href="{{ url_for('exercise')}}">1) Rep Counting & Form Correction:</a></strong> Using computer vision & ML, Muscle Matrix accurately counts reps & analyzes your form for various exercises like Bicep Curls, Pullups, & more. Get real-time feedback to optimize your workout.
              </p>
              
              <p>
                <strong><a href="{{ url_for('basebot')}}">2) Interactive Chatbots:</a></strong> Personalized routines & playlists ensure every workout suits your needs. Our chatbots offer support, motivation, & guidance throughout your fitness journey.
              </p>
          
              <p>
                <strong><a href="{{ url_for('calculatorform')}}">3) Fitness Calculator:</a></strong> Gain insights into your body & nutrition needs. Input details for personalized recommendations including BMR, Ideal Body Weight Range, & Nutrition Intake. Understand your TDEE effortlessly.
              </p>
              <p>
                  At Muscle Matrix, we're dedicated to empowering you. Join us today and redefine what's possible in your fitness journey.
              </p>
                </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    


    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Your Words <span>Saying About Us</span></p>
        </div>

        <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        "I thought I had two left feet until Muscle Matrix convinced me otherwise! Now I'm dancing through my workouts with their funky playlists! 🎵💃"
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Jiggly Buff</h3>
                      <h4>Ceo &amp; Founder</h4>
                      
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="static/FITNESS PUFF!.jpeg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="row gy-4 justify-content-center">
                  <div class="col-lg-6">
                    <div class="testimonial-content">
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        "Muscle Matrix's chatbots are like having a personal trainer and DJ in my pocket. Who knew getting fit could be this entertaining? 😂🎧"
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                      <h3>Sponge Bob</h3>
                      <h4>Designer</h4>
                      
                    </div>
                  </div>
                  <div class="col-lg-2 text-center">
                    <img src="static/_.jpeg" class="img-fluid testimonial-img" alt="">
                  </div>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          "Muscle Matrix turned my gym sessions from drab to fab! Now I'm flexing with confidence and a smile. 😄💪"
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Katy Cat</h3>
                        <h4>Store Owner</h4>
                        
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img src="static/Download Cute Pull up Cat Cartoon for free.jpeg" class="img-fluid testimonial-img" alt="">
                    </div>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-item">
                  <div class="row gy-4 justify-content-center">
                    <div class="col-lg-6">
                      <div class="testimonial-content">
                        <p>
                          <i class="bi bi-quote quote-icon-left"></i>
                          "Muscle Matrix isn't just a fitness app; it's my new best friend! We're on a journey to toned abs and killer playlists together. 💪🎶"
                          <i class="bi bi-quote quote-icon-right"></i>
                        </p>
                        <h3>Sharky</h3>
                        <h4>Entrepreneur</h4>
                       
                      </div>
                    </div>
                    <div class="col-lg-2 text-center">
                      <img src="static/Premium Vector _ Cute shark lifting dumbblle cartoon vector icon illustration animal sport icon concept isolated.jpeg" class="img-fluid testimonial-img" alt="">
                    </div>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  
     
  
  
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Contact</h2>
              <p>Need Help? <span>Contact Us</span></p>
            </div>
    
          
    
    
            <form action="{{ url_for('contact') }}" method="post" role="form" class="php-email-form p-3 p-md-4">
              <div class="row">
                <div class="col-xl-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-xl-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">

                
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form><!--End Contact Form -->
    
          </div>
        </section><!-- End Contact Section -->

{% endblock content %}
